.message {

    width:527px;
    min-height:60px;
    color: white;
    background-color: rgba(0, 102, 204, 1);
    font-weight: 400;
    margin-left: 35px;
    border-top: 35px;
}

.imageAndText {

}

.imageAndText img {
    height: 48px;
    width: 48px;
    border-right: 46px;
    /*border-left: 36px;*/

}

.text {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.text:after {

}

.name {
    Width:40px;
    Height:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    color: rgba(255, 255, 255, 1);

}

.messageText {

}

.time {
    Width:29px;
    Height:12px;
    Top:364px;
    Left:80px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12.19px;
}