.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {

}

.friendText {
    color:black;
    size: 16px;
}

.friendText:after {

}

.friendName {
    color: black;
    width: 35px;
    height: 20px;
    top: 307px;
    left: 145px;
}

.friendMessageText {

}

.friendTime {

}
